<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @supervisor.last_name %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
